<%= form_tag "/artists", method: :get do %>
  <% Artist.all.each do |a| %>
        <%# Work.where(artist_id: a.id) do |w| %>

    <div class="index_pics">
      <div class="row">
        <p style="text-align: center; font-family: Impact; text-size: 25px; color:#696969">
          View the artwork of <%= link_to a.name, artist_profile_path(a.name) %>
        </p>

        <% if Work.find_by(artist_id: a.id) != nil %>

          <p style="text-align: center">
            <a href="/artists/<%= a.name %>">
              <img src="/assets/<%= Work.find_by(artist_id: a.id).work_filename %>" style="border:2px ridge black" height="400" width="300" />
            </a>
          </p>

        <% elsif Work.find_by(artist_id: a.id) == nil %>
         
         <p style="text-align: center">
           There is no work is currently available from this artist.
         </p>
        
        <% end %>
        
        <br>

      </div>
    </div>
                        <%# end %>
  <% end %>
<% end %>

