<div class="index_pics">
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-prn2/t1.0-9/1394101_479312152182635_1353035520_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Discovery"
          <br>
        by Elena's Weird
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/7432_536689044413_2086087_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Thom Yorke"
          <br>
        by Joshua Guisinger
 			    <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-ash2/t1.0-9/24124_1400218488136_1446961_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Old Man"
          <br>
        by Thomas Bloomberg
          <br>
        (c) 2014
      </p> 
    </div>
  </div>
</div>




