<%= form_tag "/confirmation", method: :post do %>

  <h1 class="header">Thank you for your order!</h1><br><br>

  <p class="index_text3">
    A receipt has been sent to you via email. Thank you for appreciating art and helping the broke artists that create brilliant work! Your items are on their way!
  <p><br><br>

  <div class="index_text3">
    <%= submit_tag "Back to the Home Page" %><br><br>
  </div>

<% end %>