<h1 class="header">Drawings</h1>

<div class="row">
  <div class="col-md-4">
    <p class="index_text">
      <em>"Drawing is the honesty of the art. There is no possibility of cheating. It is either good or bad"</em><br><strong>-Salvador Dali</strong>
    </p>
  </div>
  <div class="col-md-4">
    <p class="index_text">
      <em>"I start drawing, and eventually the characters involve themselves in a situation. Then in the end, I go back and try to cut out most of the preachments."</em><br><strong>-Dr. Suess</strong>
    </p>
  </div>
  <div class="col-md-4">
    <p class="index_text">
      <em>"Photography is an immediate reaction, drawing is a meditation."</em><br><strong>-Henri Cartier-Bresson</strong>
    </p>
  </div>
</div>

<br>

    <%= Work.where(genre: "drawing").each do |work| %>
      <p style="text-align:center">
             <img src="/assets/<%= work.work_filename %>" style="border:2px ridge black">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        <%= work.title %> by <%= link_to work.artist.name, artist_profile_path(work.artist.name) %><br>(c) 2014
      </p> 

    <% end %>

