<h1 class="header">Graphic Arts</h1>

<p class="index_text">
  As humanity evolves, so does the mediums we use to express ourselves. Computers have altered the way we are able to express ideas and emotions, and in all reality, have expanded the possibilities of what is produced in a strange, profound way.
</p>

<<br>

    <%= Work.where(genre: "graphic art").each do |work| %>
      <p style="text-align:center">
             <img src="/assets/<%= work.work_filename %>" style="border:2px ridge black" height="700" width="500">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        <%= work.title %> by <%= link_to work.artist.name, artist_profile_path(work.artist.name) %><br>(c) 2014
      </p> 
      <br>
      <br>
    <% end %>
