<h1>Colorado Art Exchange</h1>
<br>

<p>
	Welcome to the Colorado Art Exchange! An application that allows artists to network, trade work, sell work, as well as allow the artists to introduce new ideas in order to begin collaborations. 
</p>

<p>
Take your time to browse the artists and find something that you like! 
</p>