<h1 class="header">Here's some other types of art.</h1>

<br>

    <%= Work.where(genre: "misc").each do |work| %>
      <p style="text-align:center">
             <img src="/assets/<%= work.work_filename %>" style="border:2px ridge black" height="700" width="500">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        <%= work.title %> by <%= link_to work.artist.name, artist_profile_path(work.artist.name) %><br>(c) 2014
      </p> 
      <br>
      <br>
    <% end %>
