<h1 class="header">Paintings</h1>

<p class="index_text">
	Painting has been a cornerstone of human culture for all of measurable time. See how these artists are carrying on the tradition.
</p>

<div class="index_pics">
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/541173_4892049181721_1789640090_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Smug"
          <br>
        by Thomas Bloomberg
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/t1.0-9/7432_536736823663_922050_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Reflection"
          <br>
        by Joshua Guisinger
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/481327_3318680328981_1529953668_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Goblin"
          <br>
        by Ken Kokoszka
          <br>
        (c) 2014
      </p> 
    </div>
  </div>
</div>