<p style="text-align:center">
  <img src="/assets/<%= @work.work_filename %>" style="border:2px ridge black">
</p>

<p style="text-align:center">

<% @work do |work| %>

  <% if work.availability == true %>
      <%= submit_tag "Add to your shopping cart" %>
  <% end %>

<% end %>

</p>