.header {
	margin: 5px 10px 5px 10px;
	text-align: center;
	font-size: 35pt;
	font-family: "impact", sans-serif;
}

.header_two {
	margin: 5px 10px 5px 10px;
	text-align: center;
	font-size: 25pt;
	font-family: "impact", sans-serif;
}

.header_three {
	margin: 5px 10px 5px 10px;
	text-align: center;
	font-size: 15pt;
	font-family: "impact", sans-serif;
}

.index_text {
	margin: 5px 150px 5px 150px;
	text-align: center;
	font-family: sans-serif;
	color: black;
	font-size: 14pt;
}

.index_pics {
	padding: 3px;
	text-align: left; 
	font-family: sans-serif;
	color: black;
	font-size: 13pt;
	margin: 0px 40px 0px 40px;
}

.login {
	margin: 0px 40px 0px 930px;
}