body {
	background-color: #971919;
}

.header {
	margin: 10px 10px 10px 10px;
	text-align: center;
	font-family: "impact", sans-serif;
}

.index_text {
	margin: 30px 150px 30px 150px;
	text-align: center;
	text-align: justify;
	font-family: sans-serif;
	color: black;
	font-size: 14pt;
}

.index_pics {
	padding: 3px;
	text-align: left; 
	font-family: sans-serif;
	color: black;
	font-size: 13pt;
	margin: 40px 40px 40px 40px;
}